# gradle
.env
.gradle
.kotlin
.gradle/
build/
out/
classes/
/output/

# eclipse

*.launch

# idea

.idea/
!.idea/icon.png
!.idea/icon.svg
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
